@import url('https://fonts.googleapis.com/css?family=Varela+Round');

/* *{
  border: 1px solid red !important;
} */

body{
  margin: 0px;
}

p{
  margin-left: 5px;
}

#root {
  text-align: center;
  width: 100%;
  height: 100%;
  font-family: 'Varela Round', sans-serif;
}

#map{
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

.header{
  height: 50px;
  background-color: #222222;
  color: white;
  margin:0px;
  z-index: 10;
  position: fixed;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  font-size: 22px;
}

.appTitle{
  margin:0px;
}

#openMenu{
  /* display: none; */
  align-self: center;
  position: fixed;
  left: 20px;
  cursor: pointer;
}

#menuIcon{
  height: 48px;
  width: 48px;
}

.content{
  position: fixed;
  margin-top: 70px;
  display: flex;
  width: -webkit-fill-available;
}

.drawer{
  color: white;
  width: 25%;
  height: -webkit-fill-available;
  background-color: #303030;
  padding-bottom: 250px;
}

.drawerHide{
  transform: translate(-250px);
}

.search{
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  left: 0;
  z-index: 5;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19);
}

.input{
  font-size: 20px;
  height: 32px;
  width:100%;
}

.typeSelect{
  font-size: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 100%;
}

.resultList{
  height: -webkit-fill-available;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
}

.resultPlace{
  display: block;
  text-align: justify;
}

.resultPlaceHighlight{
  background-color: #101010;
  display: block;
  text-align: justify;
}

.infowindow{
  background-color: #303030;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Varela Round', sans-serif;
  color: white;
}

.infowindowDiv{
  display: flex;
  justify-content: space-around;
}

.infowindowName{
  font-size: 22px;
}

.infowindowData{
  font-size: 12px;
}

.infowindowImg{

}

.infowindowRatings{
  font-size: 26px;
}

.infowindowPrice{
  font-size: 22px;
  color: #FFBF33;
}

.modal {
  width: 300px;
  height: 300px;
  position: absolute;
  margin: auto;
  top: 20%;
  right: 40px;
  left: 40px;
  background-color: #303030;
  text-align: center;
  font-family: 'Varela Round', sans-serif;
  color: white;
}

.modalText {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  font-size: 22px;
}

.modalButton{
  font-size: 20px;
  margin-top: 30%;
  width:100%;
}

/* unvisited link */
a:link {
    color: Aqua;
}

/* visited link */
a:visited {
    color: Aquamarine;
}

/* mouse over link */
a:hover {
    color: DeepPink;
}

/* selected link */
a:active {
    color: LightSkyBlue ;
}
