@import url('https://fonts.googleapis.com/css?family=Varela+Round');

/* *{
  border: 1px solid red !important;
} */

body{
  margin: 0px;
}

#root {
  text-align: center;
  width: 100%;
  height: 100%;
  font-family: 'Varela Round', sans-serif;
}

#map{
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

.header{
  height: 50px;
  background-color: #222222;
  color: white;
  margin:0px;
  z-index: 10;
  position: fixed;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  font-size: 22px;
}

.appTitle{
  margin:0px;
}

#openMenu{
  display: block;
  align-self: center;
  position: fixed;
  left: 20px;
}

#menuIcon{
  height: 48px;
  width: 48px;
}

.content{
  position: fixed;
  margin-top: 70px;
  display: flex;
  width: -webkit-fill-available;
}

.drawer{
  color: white;
  width: 25%;
  height: -webkit-fill-available;
  background-color: #303030;
  padding-bottom: 103px;
}

.search{
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  left: 0;
  z-index: 5;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19);
}

.input{
  font-size: 20px;
  height: 32px;
  width:100%;
}

.typeSelect{
  font-size: 15px;
  margin-top: 25px;
  width: 100%;
}

.resultList{
  height: -webkit-fill-available;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
}

.resultPlace{
  padding-left: 15px;
  display: block;
  text-align: justify;
}
