@media screen and (max-width:450px) {
  #openMenu{
    display:block;
  }
}

@media screen and (min-width:450px) and (max-width: 1024px) {
  #openMenu{
    display:none;
  }
}

@media screen and (min-width:1024px) {
  #openMenu{
    display:none;
  }
}
